meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=2, minimum-scale=1.0")
meta(name="author" content="Lorem ipsum")
meta(name='description' content='Lorem ipsum')
meta(http-equiv="X-UA-Compatible", content="ie=edge")

+connect-style('main')
